
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: "Merriweather", Arial, sans-serif;
$helveticaNeue: "Roboto", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

// When a list of option add a space it create a paragrapher
// For readibility it should be idented like the bullet point
ul + p {
  padding-left: 30px;
}
